.pf-c-dropdown__menu-item.pf-m-danger {
    color: var(--pf-global--danger-color--200);
}

.ct-form-delete-dialog {
    grid-gap: 0rem 1.5rem !important;
}

.checkbox-delete-files {
    padding-top: 20px;
}
